In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('product.csv')
df.head()

   Unnamed: 0       Name    Category  price
0           0  คีย์บอร์ด  อุปกรณ์คอม   1200
1           1     ตุ๊กตา     ของเล่น    900
2           2   iphone11      มือถือ  30000